.main_container{
   
	margin: auto auto auto auto;
    width: 1350px;
    height: 1500px;
    min-height: 40%;
    min-width: 40%;
   
}
#vertical0{

	float: left;
	background-color:376b83;
}
.home{
	float: left;
}
h1{
	color:058fbe;
}
#header{
width: 100%;
height: 3%;
background-color:376b83;
}

#body1{
	height: 105%;
}


#body2{
    font-size: 16px;
	float: right;

}
#body3{

	background-color:376b83;
	float: left;
	
}
#body4{

	float: left;
	background-color:376b83;

}


h2{
	font:bold;
	font-style: italic;
}
h5{
	font-style: italic;
	color: grey;
	font-family: arial;
}
footer{
	color:white;
	text-align: center;
	clear: both;
}