
html{
   background-image: url(../images/2.jpg);
   width: 1600px;
   height: 1600px;
   background-repeat: no-repeat;

}

.main_container{
   
    margin: auto auto auto auto ;
    background-repeat:no-repeat;
    width: 1350px;
    height: 1500px;
    min-height: 40%;
    min-width: 40%;
    -moz-box-shadow: 5px 5px 10px 20px #777777;
    -webkit-box-shadow: 5px 5px 10px 5px #777777;
     box-shadow: 5px 5px 10px 5px #777777;
}
iframe{
border-style: none;
float:center;
display: block;
width: 100%;
height: 96%;
}
#nav{
  background-color: black;
}
#nav ul li a:link{
background-color: grey;
  color: white;
  padding-left: 10px;
  padding-right: 10px;

}
#nav ul li a:visited{
  background-color: grey;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}
#nav ul li a:hover{
  background-color: grey;
  color: white;
  text-decoration: underline;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;


}
#nav ul li a:active{
  background-color: grey;
  color: maroon;
}
#nav ul li{
  position: relative;
  display: inline;
  width: 100%;
  height: 5%;
  font: bold;
  padding-right: 30px;
  margin-left: 5px;
}
#nav ul li a{
  text-transform: uppercase;
  font-size: 20px;
  text-decoration: none;
  color: gray;
}
#body{
width: 100%;
height: 100%;
background-color:none;
}

.final2footer{
  position: relative;
	padding-top:10px;
	color: white;
	text-align: center;
	width: 100%;
	height: 2%;
	background-color:black;
		-moz-box-shadow: inset 0 0 10px #777777;
    -webkit-box-shadow: inset 0 0 10px #777777;
    box-shadow: inset 0 0 10px #777777;
}